<launch>
    <arg name="control_mode" default="trajectory" />

    <include
    file="$(find finalarm_control)/launch/_spawn_gazebo_controllers.launch"
    if="$(eval control_mode == 'trajectory')"
  >
      <arg
      name="spawner_args"
      value="
          finalarm_position_controller_8
          finalarm_position_controller_9
          finalarm_joint_state_controller
          finalarm_joint_trajectory_action_controller
        "
    />
    </include>

    <include
    file="$(find finalarm_control)/launch/_spawn_gazebo_controllers.launch"
    if="$(eval control_mode == 'position')"
  >
        <arg
      name="spawner_args"
      value="
            finalarm_position_controller_1
            finalarm_position_controller_2
            finalarm_position_controller_3
            finalarm_position_controller_4
            finalarm_position_controller_5
            finalarm_position_controller_6
            finalarm_position_controller_7
            finalarm_position_controller_8
            finalarm_position_controller_9
            finalarm_joint_state_controller
        "
    />
    </include>
  </launch>
