<launch>
  <rosparam
    file="$(find finalarm_control)/config/finalarm_controllers.yaml"
    command="load"
  />

  <arg name="spawn_end_effector_controller" default="true" />
  <arg
    name="spawn_launch"
    default="$(find finalarm_control)/launch/_spawn_position_controller.launch"
  />

  <include file="$(arg spawn_launch)"><arg name="index" value="0" /></include>
  <include file="$(arg spawn_launch)"><arg name="index" value="1" /></include>
  <include file="$(arg spawn_launch)"><arg name="index" value="2" /></include>
  <include file="$(arg spawn_launch)"><arg name="index" value="3" /></include>
  <include file="$(arg spawn_launch)"><arg name="index" value="4" /></include>
  <include file="$(arg spawn_launch)"><arg name="index" value="5" /></include>
  <include file="$(arg spawn_launch)"><arg name="index" value="6" /></include>
  <include file="$(arg spawn_launch)"><arg name="index" value="7" /></include>

  <group if="$(arg spawn_end_effector_controller)">
    <include file="$(arg spawn_launch)"><arg name="index" value="8" /></include>
    <include file="$(arg spawn_launch)"><arg name="index" value="9" /></include>
  </group>

  <node
    name="finalarm_action_controller_spawner"
    pkg="dynamixel_controllers"
    type="controller_spawner.py"
    args="
      --manager=finalarm_manager
      --type=meta
      finalarm_joint_trajectory_action_controller
      finalarm_position_controller_1
      finalarm_position_controller_2
      finalarm_position_controller_3
      finalarm_position_controller_4
      finalarm_position_controller_5
      finalarm_position_controller_6
      finalarm_position_controller_7
    "
    output="screen"
  />
</launch>
