<launch>
 <!-- Load the URDF into the ROS Parameter Server -->
 <arg
    name="model"
    default="$(find finalarm_simplified_description)/urdf/finalarm_simplified_description.urdf"
  />
 <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- Disable torque on all humanoid joints/motors -->
  <node
    name="disable_torque_handy"
    pkg="finalarm_control"
    type="disable_torque_handy.py"
    args="--num_joints 7"
  />

  <!-- Start Handy joint state publisher (dynamixel_msgs.msg JointState -> sensor_msgs.msg JointState) -->
  <node
    name="handy_joint_state_publisher"
    pkg="finalarm_control"
    type="joint_state_publisher.py"
    args="--num_joints 7"
  />

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false"
    output="screen"
  >
    <!-- we need to remap the action controller to the simplified one -->
    <param name="publish_frequency" value="50" />
  </node>
</launch>
