<launch>
  <arg name="spawn_args" default="-x 0 -y 0 -z 1" />

  <include file="$(find finalarm_simplified_description)/launch/gazebo.launch">
    <arg name="spawn_args" value="$(arg spawn_args)" />
  </include>

  <include
    file="$(find finalarm_simplified_control)/launch/gazebo_control.launch"
  />
  <include
    file="$(find finalarm_simplified_description)/launch/robot_state_pub.launch"
  />
</launch>
